Package: com.gilesgc.youplayer
Name: YouPlayer
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: gilesgc
Author: gilesgc
Section: Tweaks
