Package: com.gilesgc.youplayer
Name: YouPlayer
Depends: mobilesubstrate, me.nepeta.libcolorpicker, com.muirey03.libimagepicker
Version: 1.0.0
Architecture: iphoneos-arm
Description: Customize the YouTube video player icon and colors
Maintainer: gilesgc
Author: gilesgc
Section: Tweaks
